{
  "bracketSpacing": true,
  "printWidth": 135,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 120
      }
    }
  ]
}